<section class="mx-auto flex w-[85%] items-center">
    <h1 class="text-center">LOGIN</h1>
    <div class="flex flex-col gap-5">
        <form class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" />
            </div>
            <div class="flex flex-col gap-2">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="flex flex-col gap-2">
                <button class="bg-green-700 text-white rounded-md py-2">Login</button>
            </div>
        </form>
        <div class="flex flex-col gap-2">
            <span>Belum punya akun?</span>
            <a href="/register" class="text-green-700">Daftar</a>
        </div>
    </div>
</section>