@model osena.Pages.Shared.Header.HeaderModel

<header class="flex h-24 items-center justify-between px-[7.5%] bg-[#d7e7e7]">
    <a asp-area="" asp-page="/">
        <img src="~/img/logo.svg" alt="Osena" class="w-32" />
    </a>
    <nav class="hidden gap-12 items-center lg:flex">
        @foreach (var menu in Model.Menus)
        {
            <a
                asp-area=""
                asp-page="@menu"
                class="group font-semibold text-slate-800 last:bg-slate-800 last:text-slate-50 last:px-7 last:py-3 last:rounded-md last:transition-all last:duration-300 last:ease-in-out last:hover:bg-slate-700"
            >
                <span class="lg:bg-gradient-to-r lg:from-slate-800 lg:to-slate-800 lg:bg-[length:0%_0.125rem] lg:bg-left-bottom lg:bg-no-repeat lg:transition-all lg:duration-500 lg:ease-out lg:group-hover:bg-[length:100%_0.125rem]">
                    @menu
                </span>
            </a>
        }
    </nav>
    <section class="flex items-center justify-center lg:hidden">
        <i id="hamburger-menu" class="fa-solid fa-bars cursor-pointer text-3xl">
            @await Html.PartialAsync("~/Pages/Shared/Sidebar/Sidebar.cshtml", Model.Sidebar)
        </i>
    </section>
</header>