<section class="mx-auto grid grid-cols-1 px-[7.5%] pt-14 pb-6 bg-[#d7e7e7] lg:grid-cols-2">
    <div>
        <span class="flex items-center text-green-700">
            <img src="~/img/star.svg" alt="" />
            <i class="ml-2 cursor-default italic font-semibold text-sm">Mendorong pertumbuhan bisnis Anda</i>
        </span>
        <h2 class="mt-4 cursor-default text-5xl font-bold">
            Kembangkan Bisnis Anda Bersama Kami
        </h2>
        <h5 class="mt-4 cursor-default text-lg text-slate-600">
            Tim ahli kami berdedikasi untuk membantu Anda membuka potensi penuh Anda, memastikan kesuksesan yang dapat
            dipertahankan di pasar yang kompetitif saat ini.
        </h5>
        <span class="mt-8 flex gap-7">
            @await Component.InvokeAsync("Button", new
            {
                name = "Jelajahi Sekarang",
                styling = "cursor-pointer font-medium rounded-md px-7 py-3.5 bg-green-700 text-slate-50 lg:hover:bg-green-600 lg:focus:bg-green-500"
            })

            @await Component.InvokeAsync("Button", new
            {
                name = "Mulai Konsultasi",
                link = "Konsultasi",
                styling = "font-medium rounded-md px-7 py-3.5 border-2 border-green-700 text-green-700 lg:hover:bg-green-700 lg:hover:text-slate-50 lg:focus:bg-green-600"
            })
        </span>
    </div>
    <div class="relative">
        <img src="" alt="" />
        <span class="absolute" />
    </div>
</section>