<section class="mx-auto my-20 w-[85%] grid gap-10 lg:grid-cols-2">
    <div>
        <h2 class="text-2xl font-bold lg:text-4xl">Target Masa Depan</h2>
        <h5 class="mt-4 text-justify">
            Kami menargetkan untuk mendukung lebih dari 100 UMKM dalam 3 tahun pertama dengan solusi dan strategi yang
            tepat sasaran. Fokus utama kami adalah membantu bisnis kecil berkembang dan bersaing di pasar yang lebih luas.
        </h5>
    </div>
    <div class="grid grid-cols-2 gap-4 items-end">
        <figure>
            <h3 class="text-3xl font-semibold">100+</h3>
            <h5>UMKM Didukung</h5>
        </figure>
        <figure>
            <h3 class="text-3xl font-semibold">50+</h3>
            <h5>Kolaborasi Bisnis</h5>
        </figure>
        <figure>
            <h3 class="text-3xl font-semibold">200+</h3>
            <h5>Pengusaha Terlibat</h5>
        </figure>
        <figure>
            <h3 class="text-3xl font-semibold">50+</h3>
            <h5>Program Pelatihan Tersedia</h5>
        </figure>
    </div>
</section>